        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<div style="display: flex;">
    <div class="name_user">Name User</div>
    <button 
        [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> 
        <i class="material-icons" 
            style="font-size: 3em !important;">account_circle
        </i> 
    </button>
</div>


<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Configuración </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Perfil </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Agenda </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Cerrar sesión </button>
</mat-menu>

