<div fxLayout="row" fxLayoutWrap="wrap">
    <mat-card style="min-width: 100%;">
        <mat-card-content >
            <mat-card-title>Menu Home Care
            </mat-card-title>
            <button mat-button [matMenuTriggerFor]="aboveMenu" class="btn_menu">Sobre nosotros</button>
            <mat-menu #aboveMenu="matMenu" yPosition="above">
                <button mat-menu-item>Misión</button>
                <button mat-menu-item>Visión</button>
                <button mat-menu-item>Quienes somos</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="belowMenu" class="btn_menu">Servicios</button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <button mat-menu-item>Agendar citas médicas</button>
                <button mat-menu-item>Consultar especialistas</button>
                <button mat-menu-item>Servicios de cirugía</button>
                <button mat-menu-item>Solicitud de médico en casa</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="beforeMenu" class="btn_menu">Control y calidad</button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item>Deberes y derechos del paciente</button>
                <button mat-menu-item>PAMEC</button>
                <button mat-menu-item>SIAU</button>
            </mat-menu>


            <button mat-button [matMenuTriggerFor]="afterMenu" class="btn_menu">Estrategía</button>
            <mat-menu #afterMenu="matMenu" xPosition="after">
                <button mat-menu-item>Objetivos de calidad</button>
                <button mat-menu-item>Política de calidad</button>
                <button mat-menu-item>Principios y valores</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="afterMenu" class="btn_menu">Contacto</button>
            <mat-menu #afterMenu="matMenu" xPosition="after">
                <button mat-menu-item>Redes</button>
                <button mat-menu-item>Email</button>
                <button mat-menu-item>Telefonos</button>
            </mat-menu>
        </mat-card-content>
    </mat-card>
</div>
<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row wrap">
    <!-- column -->
    <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex flex-wrap">
                    <div>
                        <mat-card-title>Servicios brindados</mat-card-title>
                        <mat-card-subtitle>En todas las especialidades brindadas</mat-card-subtitle>
                    </div>
                    <div class="ml-auto">
                        <ul class="list-inline">
                            <li>
                                <h6 class="text-success m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Remisiones</h6>
                            </li>
                            <li>
                                <h6 class=" text-info m-0"><i
                                        class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Particulares</h6>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="barchrt" style="height:360px;">
                    <x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options"
                        [responsiveOptions]="barChart1.responsiveOptions" [events]="barChart1.events"> </x-chartist>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
    <!-- column -->
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Nuestras visitas</mat-card-title>
                <mat-card-subtitle>Diferentes dispositivos utilizados para visitarnos</mat-card-subtitle>
                <div class="piechart">
                    <x-chartist class="" [data]="donuteChart1.data" [type]="donuteChart1.type"
                        [options]="donuteChart1.options" [responsiveOptions]="donuteChart1.responsiveOptions"
                        [events]="donuteChart1.events"> </x-chartist>
                </div>
            </mat-card-content>
            <hr>
            <mat-card-content>
                <ul class="list-inline text-center">
                    <li>
                        <h6 class="text-success m-0">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Móviles</h6>
                    </li>
                    <li>
                        <h6 class=" text-info  m-0">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Escritorio</h6>
                    </li>
                    <li>
                        <h6 class=" text-purple  m-0">
                            <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Tablets</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- column -->
</div>